<section alt="contact-section">
  <div class="content">
    <div class="main-frame">
        <div class="left-frame">
            <span>
                <p class="fontBricolage500">Text</p>
                <h2 class="fontBricolage700">Ready to work together?</h2>
            </span>
            <span class="fontBricolage400">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quo nisi assumenda aperiam culpa magni at, laborum, vel corporis est eligendi
                veritatis saepe corrupti beatae nam quae quibusdam explicabo dolores illum.
            </span>
            <div class="">
                <img class="arrow" src="assets/img/06-Contact/arrow.png" alt="">
            </div>
        </div>
        <div class="right-frame">
            <label class="fontBricolage400" for="">What´s your name?</label>
            <input  class="fontBricolage400"type="text" required placeholder="Please enter your name">
            <label class="fontBricolage400" for="">Whta´s your email?</label>
            <input class="fontBricolage400" type="text" required placeholder="Please enter your email">
            <label class="fontBricolage400" for="">How can I help you?</label>
            <input class="fontBricolage400" type="text" required placeholder="Please give ... so I can answer">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <p class="fontBricolage400">data policy etc</p>
            </div>
        </div>
        <img class="sticker" src="assets\img\04_ Color option 2 - B.png" alt="">
    </div>
    <app-footer class="footer"></app-footer>
  </div>
  
</section>
