//#region colors
$text-primary: white;
$text-inverse: black;
$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;
$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors

section {
  min-height: 100dvh;
  width: 100%;
  color: $text-inverse;
  display: flex;
  justify-content: center;
  background: url("./../../../../../public/assets/img/04-Projects/project-preview/paper-landscape.png") top/cover no-repeat;
  background-color: $bg-inverse;
  @media(max-width: 1114px){
    background-position: left;
    background: url("./../../../../../public/assets/img/04-Projects/project-preview/paper-portrait.png") top/cover no-repeat;
    background-color: $bg-inverse;
  }
}

.content {
  max-width: 1920px;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 min(160px, 5%);
  @media(max-width: 450px) {
    padding: 0 12px;
  }
}

.top-frame.mobile {
  margin-top: 80px;
}

.main-frame {
  width: 100%;
  min-height: 534px;
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  @media(max-width: 1114px) {
    flex-direction: column;
    gap: 4rem;
  }
}

.left-frame, 
.right-frame {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50rem;
  gap: 3.2rem;
  padding: 0 min(6.4rem, 4.4%);
  @media(max-width: 1114px){
   width: 100%;
  }
  @media(max-width: 768px) {
   padding: 0;
  }
}

.right-frame {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex:1;
  @media(max-width: 1114px) {
    align-items: center;
    flex: 0;
  }
}

.color-inverse .nav-link-wrapper:nth-child(2) .nav-link {
  color: $text-inverse;
  @media(max-width: 1300px) {
    .color-inverse .nav-link-wrapper:nth-child(3) .nav-link,
    .color-inverse .nav-link-wrapper:nth-child(4) .nav-link {
       color: $text-inverse;
    }
  }
}

span {
  font-size: clamp(18px, 3.5vw + 1rem, 20px);
    @media(max-width: 450px) {
      font-size: 16px;
    }
}

h2 {
  font-size: clamp(48px, 6.2vw + 1rem, 64px);
    @media(max-width: 450px) {
      font-size: 32px;
    }
}

h3 {
   font-size: clamp(18px, 3.5vw + 1rem, 20px);
    @media(max-width: 450px) {
      font-size: 18px;
    }
}

p {
  font-size: clamp(18px, 3.5vw + 1rem, 20px);
    @media(max-width: 450px) {
      font-size: 16px;
    }
}

.description {
  min-height: 150px;
}

.icon-list {
  width: 100%;
  display: flex;
  gap: 3.2rem;
    > .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
       > img {
        width: 6rem;
       height: 6rem;
       }
    }
     @media(max-width: 450px) {
      > .icon {
       > img {
          width: 5rem;
          height: 5rem;
        }
       > p {
          font-size: 14px;
       }
    }
  }
   @media(max-width: 500px) {
    flex-wrap: wrap;
   }
}

.sticker {
   width: 12rem;
  position: absolute;
  bottom: 50%;
  right: 0;
  translate: 50% 50%;
  transition: transform 3s;
  &:hover {
    transform: rotate(360deg);
  }
  @media(max-width: 768px) {
   display: none;
  }
}

.project-img-frame {
  width: fit-content;
}

.img-project {
  width: 50rem;
  border-radius: 20px;
  @media(max-width: 550px) {
    width: 100%;
  }
}

button {
  cursor: pointer;
  box-sizing: border-box;
  width: 14.5rem;
  height: 4rem;
  gap: 1rem;
  font-size: 1.8rem;
  border-radius: 10rem;
  border: 0.1rem;
  background-color: black;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(255, 255, 255);
  color: $text-primary;
  border: 0.1rem solid $bg-light;
  margin-left: 2rem;
  &:hover {
    color: $accent-secondary;
  }
  @media(max-width: 450px){
    font-size: 1.6rem;
  }
}

.simple {
  background-color: unset;
  border: none;
  color: $text-inverse;
  width: 10rem;
  font-weight: bold;
  box-shadow: none;
  margin:0;
}

.arrow {
  width: 5rem;
  cursor: pointer;
}

.left {
  transform: rotate(180deg)
}

.inverse {
  color: $text-primary
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}