<section alt="contact-section">
  <div class="content">
    <app-header class="header" [variant]="'inverse'"></app-header>
    <div class="main-frame">
        <div class="left-frame">
            <span>
                <div class="button-wrapper">
                    <img class="arrow" src="assets/img/04-Projects/arrow.png" alt="">
                    <button [routerLink]="''" class="simple">Go Back</button>
                </div>
                <h2 class="fontBricolage700">Projekttitel</h2>
            </span>
            <span class="fontBricolage400">
                <h3>Titel</h3>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quo nisi assumenda aperiam culpa magni at, laborum, vel corporis est eligendi
                veritatis saepe corrupti beatae nam quae quibusdam explicabo dolores illum.
            </span>
            <span class="fontBricolage400">
                <h3>Titel</h3>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quo nisi assumenda aperiam culpa magni at, laborum, vel corporis est eligendi
                veritatis saepe corrupti beatae nam quae quibusdam explicabo dolores illum.
            </span>
            <div class="icons">
                <img src="assets/img/03-Skills/icons/1.png" alt="Angular Icon">
                <img src="assets/img/03-Skills/icons/2.png" alt="HTML Icon">
                <img src="assets/img/03-Skills/icons/3.png" alt="CSS Icon">
            </div>
        </div>
        <div class="right-frame">
            <div>
                <img class="img-project" src="assets/img/04-Projects/project-preview/Property 1=El Pollo Loco.png" alt="Image of Game El Pollo Loco">
                <img class="sticker" src="assets/img/07-Sticker/Sticker 01.png" alt="Sticker">
            </div>
            <div class="button-wrapper-right">
                <a href="https://github.com/Michelle-bit-web" target="_blank">
                    <button >GitHub</button>
                </a>
                <a href="https://github.com/Michelle-bit-web" target="_blank">
                    <button >Live-Test</button>
                </a>
             </div>
             <div class="button-wrapper-right">
                <button class="simple inverse">Next</button>
                <img [routerLink]="'preview'" class="arrow right" src="assets/img/04-Projects/arrow.png" alt="">
             </div>
        </div>
        
    </div>
  </div>
  
</section>

