<section alt="feedback-section">
    <div class="content">
        <div class="main-frame">
            <div class="title-wrapper">
                <div class="arrow-wrapper">
                    <img 
                    class="arrow" 
                    src="assets/img/05-Testimonial/arrow-violett.png" 
                    alt="{{'feedback.image.arrow' | translate}}" 
                    data-aos="fade-left"
                    #loadIcon 
                    >
                </div>
                <p class="fontBricolage500 fs20" data-aos="fade-left">{{'feedback.title-small' | translate}}</p>
            </div>
            <h2 class="fontBricolage700" data-aos="fade-left">{{'feedback.page-title' | translate}}</h2>
            <app-card class="card"></app-card>
        </div>
  </div>
</section>