<section alt="feedback-section">
    <div class="content">
        <div class="main-frame">
            <div class="title-wrapper">
                <img class="arrow" src="assets/img/05-Testimonial/Color option 2.png" alt="">
                <p class="fontBricolage500 fs20">In their words</p>
            </div>
            <h2 class="fontBricolage700">Colleagues´Thoughts</h2>
            <div class="card-wrapper">
                <div class="card">
                    <img src="assets/img/05-Testimonial/A.png" alt="">
                    <span class="fontBricolage400 fs18">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic?</span>
                    <div class="author">
                        <span>
                            <p class="fontBricolage700 fs20">Vorname Nachname</p>
                            <p class="fontBricolage500 fs16">Frontend Developer</p>
                        </span>
                        <div>
                            <img src="assets/img/05-Testimonial/Linkedin.png" alt="">
                            <p class="fontBricolage500 profile-link fs18">Profile</p>
                        </div>
                    </div>
                </div>
            
                <div class="card">
                    <img src="assets/img/05-Testimonial/A.png" alt="">
                    <span class="fontBricolage400 fs18">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic?</span>
                    <div class="author">
                        <span>
                            <p class="fontBricolage700 fs20">Vorname Nachname</p>
                            <p class="fontBricolage500 fs16">Frontend Developer</p>
                        </span>
                        <div>
                            <img src="assets/img/05-Testimonial/Linkedin.png" alt="">
                            <p class="fontBricolage500 profile-link fs18">Profile</p>
                        </div>
                    </div>
                </div>
            
                <div class="card">
                    <img src="assets/img/05-Testimonial/A.png" alt="">
                    <span class="fontBricolage400 fs18">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic?</span>
                    <div class="author">
                        <span>
                            <p class="fontBricolage700 fs20">Vorname Nachname</p>
                            <p class="fontBricolage500 fs16">Frontend Developer</p>
                        </span>
                        <div>
                            <img src="assets/img/05-Testimonial/Linkedin.png" alt="">
                            <p class="fontBricolage500 profile-link fs18">Profile</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>