<section alt="feedback-section">
  <div class="content">
   <div class="main-frame">
   <div>
    <img class="arrow" src="assets/img/05-Testimonial/Color option 2.png" alt="">
     <p class="fontBricolage500">In these work...</p>
   </div>
    <h2 class="fontBricolage700">Colleagues´Thoughts</h2>
    <div class="card-wrapper">
        <div class="card">
            <img src="assets/img/05-Testimonial/A.png" alt="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic? Ea similique tenetur ipsum maxime ratione accusamus quisquam, deleniti dolor adipisci officia veniam, temporibus beatae? Aperiam?</span>
        <div>
            <span>
                <p>Text</p>
                <p>Text</p>
            </span>
            <span>Name</span>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/05-Testimonial/B.png" alt="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic? Ea similique tenetur ipsum maxime ratione accusamus quisquam, deleniti dolor adipisci officia veniam, temporibus beatae? Aperiam?</span>
        <div>
            <span>
                <p>Text</p>
                <p>Text</p>
            </span>
            <span>Name</span>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/05-Testimonial/A.png" alt="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores reprehenderit dicta nihil provident hic? Ea similique tenetur ipsum maxime ratione accusamus quisquam, deleniti dolor adipisci officia veniam, temporibus beatae? Aperiam?</span>
        <div>
            <span>
                <p>Text</p>
                <p>Text</p>
            </span>
            <span>Name</span>
        </div>
    </div>
    </div>
   </div>
  </div>
</section>