//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors

//#region font-sizes
.fs20 {
  font-size: 2.0rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs16 {
  font-size: 1.6rem;
}

h2 {
  font-size: clamp(4.8rem, 6.5vw + 1rem, 6.4rem);
  text-align: end;
}
// #endregion font-sizes

.card-wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @media(max-width: 768px) {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.card {
    background: url("./../../../../../public/assets/img/05-Testimonial/A.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 350px;
    height: 25rem;
    border-radius: 20px;
    position: relative;
    padding: 1.6rem;
    z-index:1;
  &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
      z-index: 1;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
      .img-hover {
    opacity: 0.5;
  }
    }
    @media(max-width: 768px) {
         flex: 0 1 300px;
    }
    @media(max-width:471px) {
       flex: 0.5 1 200px;
    }
}

.arrow {
    width: 70px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  > a{
    color: black;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: color 0.3s ease;
  }
  > span p{
    transition: color 0.3s ease;
  }
  &:hover {
      a, span p {
        color: $text-primary;
      }
    }
}
   
.img-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}
