<div class="card-wrapper">
    @for(card of list; track $index){
        <div class="card" data-aos="fade-up" [ngStyle]="{transform: 'rotate(' + ($index % 2 === 0 ? '-5deg' : '+4deg') +')'}">
            <span class="fontBricolage400 fs18">{{card.feedback | translate}}</span>
            <div class="author">
                <span>
                    <p class="fontBricolage700 fs20">{{card.firstName}} {{card.lastName}}</p>
                    <p class="fontBricolage500 fs16">{{card.profession}}</p>
                </span>
                 <a href="https://www.linkedin.com/" class="fontBricolage500 fs18">
                    <img src="assets/img/05-Testimonial/Linkedin.png" alt="">
                    {{'feedback.profile' | translate }}
                 </a>
            </div>   
            <img class="img-hover" src="assets/img/05-Testimonial/Line.png" alt="">    
        </div>
    }            
</div>
