//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.8rem;
  gap: 10%;
}


.container-logo {
  > img {
    width: 4em;
  }
  &:hover > .logo-hover {
    opacity: 1;
  }
}

.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.container-logo {
  position: relative;
  display: inline-block;
  // overflow: hidden;
  &::after {
  content: '';
  position: absolute;
  top: 10%; // Abstand zur oberen Kante
  right: 10%; // Abstand zur rechten Kante
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  filter: blur(0.5%);
  transition: all 4s;
  transform: scale(1);
  pointer-events: none;
  animation: glow-pulse 4s ease infinite;
}
}

@keyframes glow-pulse {
  0% {
    opacity: 0;
    transform: scale(1);
    filter: blur(2px);
  }

  45% {
    opacity: 0;
    transform: scale(1);
    filter: blur(2px);
  }

  50% {
    opacity: 1;
    transform: scale(1.8);
    filter: blur(6px);
  }

  55% {
    opacity: 0;
    transform: scale(1);
    filter: blur(2px);
  }

  100% {
    opacity: 0;
    transform: scale(1);
    filter: blur(2px);
  }
}

.hover-overlay {
  background-color: $bg-inverse;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
}

.nav-link-wrapper {
  // width: 10em;
}

.nav-link {
  display: flex;
  justify-content: center;
   position: relative;
  > img {
    position: absolute;
    opacity: 1;
    top: 0;
    left:0;
    transform: translate(-15px, -15px);
    width: 120px;
    height: 50px;
    // border: 2px solid white;
  }
}

.menu-btn {
  display: none;
}

@media (max-width: 650px) {
    .menu-btn {
        display: block;
    }
    
    nav {
        display: none;
    }
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.nav-cirlce,
.nav-line,
.nav-curve-line,
.nav-crossing-line,
.box-img {
  position: relative;
  mask-image: linear-gradient(transparent, transparent, transparent, transparent);
  &:hover {
    
   animation: fade-in ease-in-out forwards;
   animation-duration: 500ms;
  }
}
  @keyframes fade-in {
    0% {
      mask-image: linear-gradient(transparent, transparent, transparent, transparent);
    }
    5%{
      mask-image: linear-gradient(rgba(0, 0, 0, 0.72), transparent, transparent, transparent);
    }
    10% {
      mask-image: linear-gradient(black, transparent, transparent, transparent);
    }
    25% {
      mask-image: linear-gradient( black, rgba(0, 0, 0, 0.626), transparent, transparent);
    }
    35%{
      mask-image: linear-gradient( black, black, transparent, transparent);
    }
    50%{
      mask-image: linear-gradient( black, black, rgba(0, 0, 0, 0.703), transparent);
    }
    75% {
      mask-image: linear-gradient( black, black, black, transparent);
    }
    85% {
      mask-image: linear-gradient( black, black, black, rgba(0, 0, 0, 0.703));
    }
    100% {
      mask-image: linear-gradient(black, black, black, black);
    }
  }
 

.line-box {
  width: fit-content;
  position: relative;
}
.toggle-img {
  position: relative;
}

.hover-boxes {
  position: absolute;
  top: -0.5rem;


  > img {
    width: 40px;
    height: 40px;
  }
}

/* Nur wenn 'inverse' aktiv ist */
.color-inverse .nav-link-wrapper:nth-child(1) .nav-link,
.color-inverse .nav-link-wrapper:nth-child(2) .nav-link {
  color: $text-inverse;
}

@media (max-width: 1300px) {
  .color-inverse .nav-link-wrapper:nth-child(3) .nav-link,
  .color-inverse .nav-link-wrapper:nth-child(4) .nav-link {
    color: $text-inverse;
  }
}

.color-inverse .logo-normal,
.color-inverse svg path{
  filter:invert(1);
}

.overlay{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.747);
  z-index: 1;
//   opacity: 1;
//  @starting-style {
//     opacity: 0;
//   }
  > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 5.0rem 3.2rem;
  }
 
}

.d_none {
  display: none;
  // opacity: 0;
  // transition: display 0.5s;
  // transition-behavior: allow-discrete;

}

.menu-btn {
  background: transparent;
  border-radius: 1rem;
  // border: 1px solid white;
  overflow: hidden;

}

.menu-btn .burger-icon {
  transition: translate 1s, rotate 1s;
  z-index: 2;
}

.menu-btn[aria-expanded="true"] .burger-icon {
  translate: 2.5px 0px;
  rotate: 0.125turn;
}

.menu-btn .line {
  transition: 1s;
  stroke-dasharray: 60 30 60 300;
}

.menu-btn[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.icons-mobile {
  display: flex;;
}