//#region colors
$text-primary: white;
$text-inverse: black;
$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;
$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;
// #endregion colors

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  font-size: 18px;
  gap: 10%;
}

.container-logo {
  > img {
    width: 5rem;
  }
  &:hover > .logo-hover {
    opacity: 1;
  }
}

.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.hover-overlay {
  background-color: $bg-inverse;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
}

.nav-link {
  display: flex;
  justify-content: center;
   position: relative;
  > img {
    position: absolute;
    opacity: 1;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 7em;
    height: 3em;
  }
}

.menu-btn {
  display: none;
}

@media (max-width: 650px) {
  .menu-btn {
    display: block;
   }
  nav {
    display: none;
  }
  header.fixed-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.473), transparent);
    padding: 0 min(160px, 5%);
    @media(max-width: 450px) {
    padding: 0 12px;
  }
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

//#region hover animation nav-links
.nav-cirlce,
.nav-line,
.nav-curve-line,
.nav-crossing-line,
.box-img {
  position: relative;
  mask-image: linear-gradient(transparent, transparent, transparent, transparent);
  &:hover {
   animation: fade-in ease-in-out forwards;
   animation-duration: 500ms;
  }
}

@keyframes fade-in {
  0% {
    mask-image: linear-gradient(transparent, transparent, transparent, transparent);
  }
  5%{
    mask-image: linear-gradient(rgba(0, 0, 0, 0.72), transparent, transparent, transparent);
 }
 10% {
  mask-image: linear-gradient(black, transparent, transparent, transparent);
 }
 25% {
  mask-image: linear-gradient( black, rgba(0, 0, 0, 0.626), transparent, transparent);
 }
 35%{
  mask-image: linear-gradient( black, black, transparent, transparent);
 }
 50%{
  mask-image: linear-gradient( black, black, rgba(0, 0, 0, 0.703), transparent);
 }
 75% {
  mask-image: linear-gradient( black, black, black, transparent);
 }
 85% {
  mask-image: linear-gradient( black, black, black, rgba(0, 0, 0, 0.703));
 }
 100% {
  mask-image: linear-gradient(black, black, black, black);
 }
}
//#endregion hover animation nav-links

//#region changes dependend on project preview component
.color-inverse .nav-link-wrapper:nth-child(1) .nav-link,
.color-inverse .nav-link-wrapper:nth-child(2) .nav-link {
  color: $text-inverse;
}

@media (max-width: 1114px) {
  .color-inverse .nav-link-wrapper:nth-child(3) .nav-link,
  .color-inverse .nav-link-wrapper:nth-child(4) .nav-link {
    color: $text-inverse;
  }
}

.color-inverse .logo-normal,
.color-inverse svg path{
  filter:invert(1);
}
//#endregion changes dependend on project preview component

//#region mobile burger menu
.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0dvh;
  background-color: rgba(0, 0, 0, 0.747);
  background: url("./../../../../public/assets/img/01-Hero/mobile-menu-bg.png") bottom/cover no-repeat;
  z-index: 3;
  transition: 0.8s;
  padding: 0 min(160px, 5%);
  @media(max-width: 450px) {
    padding: 0 12px;
  }
  > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 5.0rem 3.2rem;
    height: 50%;
    opacity: 0;
    transition: 0.8s ease 0.3s;
  }
}

.overlay.open-menue {
  height: 80dvh;
    nav {
     opacity: 1;
    }
  }

.d_none {
  display: none;
}

.menu-btn {
  background: transparent;
  border-radius: 1rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  > .burger-icon {
    width: 4rem;
  }
}

.menu-btn .burger-icon {
  transition: translate 1s, rotate 1s;
  z-index: 4;
}

.menu-btn[aria-expanded="true"] .burger-icon {
  translate: 2.5px 0px;
  rotate: 0.125turn;
}

.menu-btn .line {
  transition: 1s;
  stroke-dasharray: 60 30 60 300;
}

.menu-btn[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.icons {
  border-color: 2px solid $bg-light;
}

.icons-mobile {
  display: flex;
  gap: 1.6rem;
}

 .icons {
  > a {
    > img {
     border-radius: 50%;
     border: 2px solid white;
    }
  }
 }

.logo-menu {
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  margin-top: 2.2rem;
  margin-left: 0;
}
//#endregion mobile burger menu

//#region language slider

.toggle-box {
  display: flex;
  position: relative;
  gap: 1.6rem;
}

.hover-box {
  width:  3em;
  height:  3em;
  position: absolute;
  opacity: 0;
}

.language-box,
.slider-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-box {
  cursor: pointer;
  color:$text-primary;
  &:hover .hover-box {
    opacity: 1;
  }
  &.active p {
    color: $accent-tertiary;
  }
}

.slider-box {
  position: relative;
  > .circle {
    position: absolute;
    transition: all 2s ease-in-out 5s;
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
  }
}
//#endregion language slider