<header class="fontBricolage700">
    <img src="assets/img/01-Hero/header-bar/header-frame/Logo.png" alt="logo image">
    <div>About me</div>
    <div>Skills</div>
    <div>Projects</div>
    <div>Contact</div>
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=English Default.png" alt="">
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=Deutsch Default.png" alt="">
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Left.png" alt="toggle bar for language">
</header>
