<header class="fontBricolage700">
  <div class="container-logo">
    <img
      class="logo-normal"
      src="assets/img/01-Hero/header-bar/header-frame/Logo.png"
      alt="logo image"
    />
    <img
      class="logo-hover"
      src="assets/img/01-Hero/header-bar/header-frame/Logo-Hover.png"
      alt="logo image"
    />
  </div>
  <button (click)="toggleMenu()" class="menu-btn" aria-controls="navigation" aria-expanded="false">
    <svg class="burger-icon" viewBox="-5 0 100 100" width="40" fill="none">
      <path class="line" 
      stroke="white"
      stroke-width="10" 
      stroke-linecap="round" 
      stroke-linejoin="round" 
      d="m 15 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70">
    </path>
    
    </svg>
  </button>
 <nav [ngClass]="{'color-inverse': variant === 'inverse'}">
   <div class="nav-link-wrapper">
    <a class="nav-link" href="#about">
      About me
      <img class="nav-cirlce"
        src="assets/img/01-Hero/header-bar/header-frame/lines/1.png"
        alt=""
      />
    </a>
  </div>

  <div class="nav-link-wrapper">
    <a class="nav-link" href="#skills">
      Skills
      <img class="nav-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/2.png"
        alt=""
      />
    </a>
  </div>
  <div class="nav-link-wrapper">
    <a class="nav-link" href="#projects">
      Projects
      <img class="nav-curve-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/3.png"
        alt=""
      />
    </a>
  </div>
  <div class="nav-link-wrapper">
    <a class="nav-link" href="#contact">
      Contact
      <img class="nav-crossing-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/4.png"
        alt=""
      />
    </a>
  </div>
  <div class="line-box">
    @if(english){
    <img (click)="switchLanguage()" class="toggle-img" src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Left.png" alt="toggle bar for language"/>
    
  } @else {
    <img (click)="switchLanguage()" class="toggle-img" src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Right.png" alt="toggle bar for language"/>
  }
    <div class="hover-boxes">
      <img class="box-img" src="assets/img/01-Hero/header-bar/header-frame/lines/Toggle.png" alt=""> 
      <img class="box-img" src="assets/img/01-Hero/header-bar/header-frame/lines/Toggle.png" alt=""> 
    </div> 
  </div>
 </nav>
  <div class="overlay d_none">
    <nav [ngClass]="{'color-inverse': variant === 'inverse'}">
   <div class="nav-link-wrapper">
    <a class="nav-link" href="#about">
      About me
      <img class="nav-cirlce"
        src="assets/img/01-Hero/header-bar/header-frame/lines/1.png"
        alt=""
      />
    </a>
  </div>

  <div class="nav-link-wrapper">
    <a class="nav-link" href="#skills">
      Skills
      <img class="nav-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/2.png"
        alt=""
      />
    </a>
  </div>
  <div class="nav-link-wrapper">
    <a class="nav-link" href="#projects">
      Projects
      <img class="nav-curve-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/3.png"
        alt=""
      />
    </a>
  </div>
  <div class="nav-link-wrapper">
    <a class="nav-link" href="#contact">
      Contact
      <img class="nav-crossing-line"
        src="assets/img/01-Hero/header-bar/header-frame/lines/4.png"
        alt=""
      />
    </a>
  </div>
  <div class="line-box">
    @if(english){
    <img (click)="switchLanguage()" class="toggle-img" src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Left.png" alt="toggle bar for language"/>
    
  } @else {
    <img (click)="switchLanguage()" class="toggle-img" src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Right.png" alt="toggle bar for language"/>
  }
    <div class="hover-boxes">
      <img class="box-img" src="assets/img/01-Hero/header-bar/header-frame/lines/Toggle.png" alt=""> 
      <img class="box-img" src="assets/img/01-Hero/header-bar/header-frame/lines/Toggle.png" alt=""> 
    </div> 
  </div>
 </nav>
  </div>
  
</header>
