<header class="fontBricolage700">
    <div class="container-logo">
     <img class="logo-normal" src="assets/img/01-Hero/header-bar/header-frame/Logo.png" alt="logo image">
     <img class="logo-hover" src="assets/img/01-Hero/header-bar/header-frame/Logo-Hover.png" alt="logo image">
    </div>
    <div>
        <div><a href="#about">About me</a></div>
        <!-- <img src="assets/img/01-Hero/header-bar/header-frame/lines/1.png" alt=""> -->
    </div>
    <div><a href="#skills">Skills</a></div>
    <div><a href="#projects">Projects</a></div>
    <div><a href="#contact">Contact</a></div>
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=English Default.png" alt="">
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=Deutsch Default.png" alt="">
    <img src="assets/img/01-Hero/header-bar/header-frame/Property 1=Toggle Left.png" alt="toggle bar for language">
</header>
