<section alt="privacy-policy-section fs20">
  <div class="content">

    <div class="imprint-overlay  fontBricolage400 fs20">
      <div class="button-wrapper">
          <img class="arrow" src="assets/img/04-Projects/arrow.png" alt="">
          <button [routerLink]="''" class="simple">Go Back</button>
      </div>
      <h1 class="fontBricolage500 fs32">Privacy Policy</h1>
      <p>Information in accordance with Section 5 DDG</p><br>
      <p> 
      <strong class="fs24">Disclaimer:</strong><br /><br />

      <strong>General information</strong><br>
      <br>
        You can use this website without providing personal data. If you contact me via the contact form, your data 
        (name, email address, message) will be processed solely to handle your request. This is done based on your consent
        in accordance with Art. 6 (1) (a) GDPR. The data will not be shared with third parties and will be deleted after the request has been resolved, 
        unless legal retention obligations apply.<br>

        <br> 
        Your selection will be stored locally in your browser (via cookie or local storage) to record your consent and 
        to enable the map to be displayed automatically in the future. This information is stored for a duration of 1 year.   
        You can withdraw your consent at any time by <a href="#maps-consent-reset" class="reset-consent-link">clicking here: "reset my consent"</a>
        or by changing your privacy settings.<br>
        <br>
        <br>
        <strong>Note on data transmission</strong><br>
        <br>
        Please note that data transmission over the Internet (e.g., via email) may have security vulnerabilities. 
        Complete protection of data from third-party access is not possible.<br>
        <br>
        <br>
        <strong>Prohibition of unsolicited contact</strong><br>
        <br>
        Use of the contact details provided in the legal notice for sending unsolicited advertising or information is not permitted. As operator of the
        pages I reserves the right to take legal action against unsolicited advertising information, such as spam or similar abuses.
        <br/>
      </p>
      <br>
      <br>
      <strong class="fs24">Credits</strong><br /><br />
        Thanks to all people for their support.
        <a href="">Sascha Morteza Chinahkash</a><br /><br />

      Created with
      <a href="https://impressum-generator.de" rel="dofollow"
        class="links">Impressum-Generator.de</a
      >, the tool for legal notice and
      <a
        href="https://impressum-generator.de/datenschutz-generator"
        rel="dofollow"
        class="links">privacy policy</a
      >. Based on a template by
      <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow"
        class="links">Kanzlei Hasselbach</a
      >.
    </div>
    <br>
      <app-footer class="footer"></app-footer>
  </div>
  
</section>