<section class="privacy-policy-section fs20" id="{{'contact.privacy-policy' | translate}}">
  <div class="content">
    <app-header class="header"></app-header>
    <div class="policy-overlay fontBricolage400 fs20" [ngClass]="{'mobile': isMobileView}">
      <div class="button-wrapper">
          <img [routerLink]="''" class="arrow" src="assets/img/04-Projects/arrow.png" alt="{{'project-preview.image.arrow-back' | translate}}">
          <button [routerLink]="''" class="simple fontBricolage500 fs16">{{'privacy-policy.button-back' | translate}}</button>
      </div>
      <h1 class="fontBricolage500 fs32">{{'privacy-policy.title' | translate}}</h1>
      <p>{{'privacy-policy.subtitle' | translate}}</p><br>
      <p> 
      <strong class="fs24">{{'privacy-policy.disclaimer' | translate}}</strong><br /><br />

      <strong>{{'privacy-policy.general' | translate}}</strong><br>
      <br>
        {{'privacy-policy.generalText' | translate}}<br>
        <br>
        <br>
        <strong>{{'privacy-policy.noteTransmission' | translate}}</strong><br>
        <br>
        {{'privacy-policy.noteTransmissionText' | translate}}<br>
        <br>
        <br>
        <strong>{{'privacy-policy.spamDisclaimer' | translate}}</strong><br>
        <br>
        {{'privacy-policy.spamDisclaimerText' | translate}}
        <br/>
      </p>
      <br>
      <br>
      {{'privacy-policy.createdWith' | translate}}
      <a href="https://impressum-generator.de" rel="dofollow"
        class="links">{{'privacy-policy.generator' | translate}}</a
      >, {{'privacy-policy.toolPurpose' | translate}}
      <a
        href="https://impressum-generator.de/datenschutz-generator"
        rel="dofollow"
        class="links">{{'privacy-policy.privacyLink' | translate}}</a
      >. {{'privacy-policy.templateBy' | translate}}
      <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow"
        class="links">{{'privacy-policy.lawOffice' | translate}}</a
      >.
    </div>
    <br>
      <app-footer class="footer"></app-footer>
  </div>
  
</section>