//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors
.paper-features {
  width: 56rem;
  height: 15.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100dvh;
  width: 100%;
  color: $text-inverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 2px solid red;
  max-width: 1920px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  gap: min(5rem, 3.4%);
  padding: 0 min(6.4rem, 4.4%);
  
}

.main-frame {
  width: 100%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.project-frame {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  width: 400px;
  > img {
    width: 100%;
    border-radius: 20px;
    &:hover {
      scale: (1.05);
      box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.235) inset;
    }
  }
}

h2 {
  font-size: 6.4rem;
  }

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 2.0rem;
}

span {
  font-size: 1.8rem;
}