//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors
.paper-features {
  width: 56rem;
  height: 15.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100dvh;
  width: 100%;
  color: $text-inverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 2px solid red;
  max-width: 1920px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  gap: 5%;
  padding: 0 min(160px, 5%);
  @media(max-width: 450px) {
    padding: 0 12px;
  }
}

.main-frame {
  width: 100%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 10% 0;
  @media(max-width: 450px) {
    padding: 0;
  }
}

p {
  font-size: clamp(18px, 3.5vw + 1rem, 20px);
    @media(max-width: 450px) {
      font-size: 16px;
    }
}

span {
  font-size: clamp(18px, 3.5vw + 1rem, 20px);
  @media(max-width: 450px) {
    font-size: 16px;
  }
}

.title-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 500px;
}

.card-frame {
 flex: 0 1 500px;
}

h2 {
   font-size: clamp(48px, 6.2vw + 1rem, 64px);
    @media(max-width: 450px) {
      font-size: 32px;
    }

  position: relative;
  &::after {
    content: "";
    width: 28rem;
    height: 8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 60%;
    background: url("./../../../../public/assets/img/04-Projects/underline.png") center/contain no-repeat;
   @media(max-width: 450px) {
      
        width: 16rem;
        height: 6rem;
      
    }
  }
}
