<section alt="projects-section">
  <div class="content">
    <div class="main-frame">
        <div class="title-frame" data-aos="fade-right">
          <p class="fontBricolage500">{{'projects.title-small' | translate}}</p>
          <h2 class="fontBricolage700">{{'projects.page-title' | translate}}</h2>
          <span class="fontBricolage400">{{'projects.page-description' | translate}}</span>
        </div>
        <app-project-card *ngFor="let project of projectListData.projectList; let index = index" [project]="project" [index]="index" class="card-frame"></app-project-card>
     </div>
  </div>
</section>