//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;
// #endregion colors

//#region font-sizes
// $fs-btn-default: clamp(2rem, calc(7vw + 1rem), 12.8rem);

section {
  width: 100%;
  background-image: url("./../../../../public/assets/img/01-Hero/hero-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content {
  border: 1px solid red;
  height: 100dvh;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 min(6.4rem, 4.4%);
}

.header {
  border: 1px solid white;
  display: flex;
  width: 100%;
  height: 100px;
}

.main-frame {
  border: 1px solid green;
  width: 100rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}

.polaroid-frame {
  position: relative;
 
}

.polaroid {
  width: 20.3rem;
  height: 24.4rem;
  transform: rotate(5deg);
}

.bg-polaroid {
  @extend .polaroid;
  position: absolute;
  top: -0.7rem;;
  right: -1rem;
  transform: rotate(10deg);
  background-color: #7e4ae7;
  &:hover {
    animation: rotateBack ease-out 1s;
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.upper-frame {
  display: flex;
  align-items: center;
  gap: 5%;
}

.upper-left-frame {
  width: fit-content;
}

// 

.lower-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.frame-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  border-radius: 50%;
  animation: 3s spin linear infinite;
  z-index: 1;
  &:hover {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      translate: -50% -50%;
      z-index: -1;
      padding: 0.3rem;
      filter: blur(0.5rem);
      opacity: 0.5;
      background-image: conic-gradient(
      from var(--angle),
      $accent-primary,
      $accent-tertiary,
      $accent-primary,
      );
      animation: 2s spin linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}


h1 {
  > span {
    font-size: 12.8rem;
  //  @media(max-width: 1210px){
  //   font-size: clamp(4.8rem, calc(7vw + 1rem), 12.8rem);
  //  }
  }
}

button {
  box-sizing: border-box;
  width: 14.5rem;
  height: 4rem;
  gap: 1rem;
  font-size: 1.8rem;
  border-radius: 10rem;
  border: 0.1rem;
  background-color: black;
  color: $text-primary;
  border: 0.1rem solid $bg-light;
  @media(max-width: 450px){
    font-size: 1.6rem;
  }
}

.bouncing-letters span {
  display: inline-block;
}

.bouncing-letters span:hover {
  animation: bounce 0.3s ease-in forwards;
  animation-duration: 0.5s;
  // color: yellow;
}

// @keyframes bounce {
//   0%   {
//     transform: scale(1);
//     color: yellow;
//     filter:saturate(0.2);
//    }
//   50%  {
//     transform: scale(1.4);
//     color: yellow;
//     filter:saturate(0.5);
//    }
//   100% {
//     transform: scale(1);
//     color: yellow;
//     filter:saturate(1);
//    }
// }

@keyframes bounce {
  0% {
    transform: scale(0.9, 0.85);
    filter: saturate(0.8);
    color: $accent-tertiary;
  }
  25% {
    filter: saturate(1);
    color: $accent-tertiary;
  }
  50% {
    transform: scale(1.5, 0.75);
    filter: saturate(0.6);
    color: $accent-primary;
  }
  75% {
    filter: saturate(0.8);
    color: $accent-primary;
  }
  100% {
    transform: scale(1, 0.85);
    filter: saturate(1);
    color: $accent-primary;
  }
}


// @keyframes colorfade {
//   0%   { color: purple; }
//   100% { color: yellow; }
// }

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.btn-greeting {
  box-shadow: inset 0 0 0 0 $accent-primary;

  &:hover {
    animation: fadeOut ease-out forwards;
    animation-duration: 1s;
  }
}

@keyframes fadeOut {
  0% {
    width: 14rem;
    box-shadow: inset 140 0 0 0 #7e4ae72c;
    opacity: 1;
  }

  100% {
    width: 18rem;
    box-shadow: inset 180 0 0 0 $accent-primary;
    background-color: $accent-primary;
    opacity: 0;
  }
}

.img-hand {
  width: 4rem;
  height: 4rem;
  &:hover {
    transform: rotate(360deg);
    transition: 2s;
  }
}


.btn-name {
  cursor: pointer;
   position: relative;
   display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: $accent-primary;
  width: 18rem;
  
  &::after {
    content: "";
    position: absolute;
    height: 0;
    width: 50%;
    background-color: $accent-primary;
    border-radius: 20px;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    // opacity: 1;
  }
  &:hover::after {
    height: 100%;
    width: 100%;
    // animation: 5s fadeIn ease-in forwards;
    // animation-duration: 500ms;
   
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.btn-contact:hover {
  background-color: $accent-tertiary;
  transform: scale(0.9);
  box-shadow: 0.5rem 0 0 0.5rem $accent-primary;
}


@media(max-width: 768px) {
    .icons,
    .polaroid-frame {
      display: none;
    }
  }

