<section alt="hero-section">
  <div class="content">
    <app-header class="header"></app-header>
    <div class="main-frame">
      <div class="upper-subframe">
        <div>
          <div class="btn-wrapper">
            <img class="img-hand" src="assets/img/01-Hero/title-photo/waving_hand.png" alt="A waving hand animation"/>
            <button class="fontBricolage500 btn-greeting">Hello world</button>
            <button class="btn-name" class="fontBricolage500 btn-name">I´m Michelle</button>
          </div>
          <h1 class="fontBricolage700 bouncing-letters" >
            <span>F</span>
            <span>r</span>
            <span>o</span>
            <span>n</span>
            <span>t</span>
            <span>e</span>
            <span>n</span>
            <span>d</span>
          </h1>
        </div>
        <div class="polaroid-wrapper">
          <div class="bg-polaroid"></div>
          <img
          src="/assets/img/01-Hero/title-photo/polaroid.png"
          class="polaroid"
          alt="Polaroidimage of me"
        />
        
      </div>
        </div>
      <div class="lower-subframe">
        <h1 class="fontBricolage700 bouncing-letters">
          <span>D</span>
          <span>E</span>
          <span>V</span>
          <span>E</span>
          <span>L</span>
          <span>O</span>
          <span>P</span>
          <span>E</span>
          <span>R</span>
        </h1>
        <button class="fontBricolage500 btn-contact">Get in Touch</button>
      </div>
    </div>
    <div class="frame-sm">
      <div class="icons"><img  src="assets/img/01-Hero/social-media/Linkedin.png" alt="LinkedIn Icon"/></div>
      <div class="icons"><img  src="assets/img/01-Hero/social-media/Github.png" alt="GitHub Icon" /></div>
      <div class="icons"><img  src="assets/img/01-Hero/social-media/mail.png" alt="Email Icon" /></div>
    </div>
  </div>
</section>


