$main-text-color: white;

section {
  height: 100dvh;
  width: 100%;
  background-image: url("./../../../../public/assets/img/01-Hero/hero-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 min(6.4rem, 4.4%);
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
}

.polaroid {
  width: 20rem;
  height: 250px;
  transform: rotate(5deg);
}

.main-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-subframe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lower-subframe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.frame-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

h1 {
  > span {
    font-size: clamp(2rem, calc(7vw + 1rem), 12.8rem);
  }
}

button {
  width: 145;
  height: 40;
  gap: 10px;
  border-radius: 100px;
  border-width: 1px;
  padding: min(1.2rem, 12%) min(2.4rem, 6%);
  background-color: black;
  color: $main-text-color;
  border: 1px solid rgba(248, 249, 250, 1);
}

// /* 01_Hero */

// width: 1440px;
// height: 900px;
// overflow-y: scroll;

// background: url(12 Isolated Paper Rips copia.png);

// /* Inside auto layout */
// flex: none;
// order: 0;
// align-self: stretch;
// flex-grow: 0;
// z-index: 0;

/* Property 1=Default */


.bounce {
            animation-name: bounce;
        }

        .bouncing-letters span {
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-iteration-count: 1;
            display: inline-block;
        }

        .bouncing-letters span:hover {
            color: whitesmoke;
        }

        @keyframes bounce {

            20%,
            50%,
            80%,
            to {
                transform: scale(1, 1);
            }

            40% {
                transform: scale(1.75, 0.65);
            }

            45% {
                transform: scale(1.75, 0.65);
            }

            70% {
                transform: scale(1.25, 0.75);
            }

            90% {
                transform: scale(1.15, 0.85);
            }
        }