<section alt="hero-section">

  <div class="content">

    <app-header class="header"></app-header>

    <div class="main-frame">
       
      <div class="upper-frame">
        <div class="upper-left-frame">
          <div class="btn-wrapper">
          <img  [ngClass]="{ 'touch': isTouchDevice }"class="img-hand" src="assets/img/01-Hero/title-photo/waving_hand.png" alt="A waving hand animation"/>
          <button #btnMobile class="fontBricolage500 btn-greeting" [attr.data-name]="'hero.name' | translate" [ngClass]="{ 'touch': isTouchDevice }">
            {{'hero.hello-world' | translate}}
            
          </button>
          <!-- <button class="btn-name" class="fontBricolage500 btn-name">I´m Michelle</button> -->
        </div>

        <h1 class="fontBricolage700 bouncing-letters" data-aos="fade-right">
          <span>F</span>
          <span>r</span>
          <span>o</span>
          <span>n</span>
          <span>t</span>
          <span>e</span>
          <span>n</span>
          <span>d</span>
        </h1>
        </div>

        <div class="polaroid-frame" data-aos="fade-left">
          <div class="bg-polaroid"></div>
          <img class="picture" src="assets/img/01-Hero/IMG_3698.jpeg" alt="" [ngClass]="{ 'touch': isTouchDevice }" [style.animationDelay]="isTouchDevice ? 1 + 's' : null">
          <!-- <img class="picture" src="assets/img/01-Hero/IMG_3749.jpeg" alt=""> -->
          <img src="assets/img/01-Hero/title-photo/polaroid.png" class="polaroid" alt="Polaroidimage of me"/>
          <p class="name fontKalam700" #name (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Michelle &#58;&#41;</p>
        </div>
       
      </div>

      <div class="lower-frame">
        <h1 class="fontBricolage700 bouncing-letters" data-aos="fade-left">
          <span>D</span>
          <span>E</span>
          <span>V</span>
          <span>E</span>
          <span>L</span>
          <span>O</span>
          <span>P</span>
          <span>E</span>
          <span>R</span>
        </h1>
        <a class="nav-link" href="#{{ 'header.contact' | translate }}">
          <button class="fontBricolage500 btn-contact">{{'hero.contact' | translate}}</button>
        </a>
      </div>
      
    </div>
   
    <div class="frame-sm pos-absolute">
      <div class="icons" data-aos="fade-up"><a href="https://www.linkedin.com/in/dr-michelle-puschkarow-605a7b17a/" target="_blank"><img  src="assets/img/01-Hero/social-media/Linkedin.png" alt="LinkedIn Icon"/></a></div>
      <div class="icons" data-aos="fade-up"><a href="https://github.com/Michelle-bit-web" target="_blank"><img  src="assets/img/01-Hero/social-media/Github.png" alt="GitHub Icon" /></a></div>
      <div class="icons" data-aos="fade-up"><a href="#{{ 'header.contact' | translate }}"><img  src="assets/img/01-Hero/social-media/mail.png" alt="Email Icon" /></a></div>
    </div>
  </div>
</section>


  
