<section alt="hero-section">
    <div class="content">
        <app-header class="header"></app-header>
        <div class="main-frame">
            <div class="upper-subframe">
                <div>
                    <div>
                        <img src="" alt="">
                        <button>Hello world</button>
                    </div>
                    <div>Frontend single letters!!</div>
                </div>
                <img src="" alt="Polaroidimage of me">
            </div>
            <div class="lower-subframe">DEVELOPER single letters!!</div>
           <button>Get in Touch</button>
        </div>
    </div>
    <div class="frame-sm">
        Hier SoMe Icons
    </div>
</section>

