<section alt="about-section">
  <div class="content">
    <div class="left-frame">
     <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-location">
            <img src="assets/img/02-AboutMe/icons/location.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-one' | translate}}</span>
        </div>
       
     </div>
     <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-relocate">
            <img src="assets/img/02-AboutMe/icons/relocate.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-two' | translate}}</span>
        </div>
       
     </div>
     <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-remote">
            <img src="assets/img/02-AboutMe/icons/remote.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-three' | translate}}</span>
        </div>
     </div>
    </div>
    <div class="right-frame" data-aos="fade-left">
       <div>
         <span class="fontBricolage500">{{'about-me.title-small' | translate}}</span>
         <h2 class="fontBricolage700">{{'about-me.title' | translate}}</h2>
         <img src="assets/img/02-AboutMe/underline.png" alt="">
       </div>
        <span class="fontBricolage400 description">{{'about-me.description' | translate}}</span>
       <a class="nav-link" href="#contact">
        <div class="container-btn">
          <button class="fontBricolage500">{{'about-me.button' | translate}}</button>
        </div>
       </a>
        
    </div>
  </div>
</section>
