<section alt="about-section">
  <div class="content">
    <div class="left-frame">
     <div>
        <div class="paper-location">
            <img src="assets/img/02-AboutMe/icons/location.png" alt="">
            <span class="fontBricolage400 paper-text">Based in Hamburg</span>
        </div>
       
     </div>
     <div>
        <div class="paper-relocate">
            <img src="assets/img/02-AboutMe/icons/relocate.png" alt="">
            <span class="fontBricolage400 paper-text">Open to..</span>
        </div>
       
     </div>
     <div>
        <div class="paper-remote">
            <img src="assets/img/02-AboutMe/icons/remote.png" alt="">
            <span class="fontBricolage400 paper-text">Open to work remote</span>
        </div>
     </div>
    </div>
    <div class="right-frame">
       <div>
         <span class="fontBricolage500">WHO´S MICHELLE?</span>
         <h2 class="fontBricolage700">About Me</h2>
         <img src="assets/img/02-AboutMe/underline.png" alt="">
       </div>
        <span class="fontBricolage400 description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat soluta, quibusdam, cumque sequi vitae magnam, repudiandae nobis provident illum corporis nihil dolorem quod? Eius quam ratione accusantium officia cumque?</span>
      <div class="container-btn">
        <button class="fontBricolage500">Let´s talk</button>
      </div>
    </div>
  </div>
</section>
