//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors
.paper-features {
  width: 56rem;
  height: 15.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100dvh;
  width: 100%;
  color: $text-inverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1920px;
  width: 100%;
  display: grid;
  gap: min(5rem, 3.4%);
  padding: 0 min(6.4rem, 4.4%);
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: "left-frame right-frame";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:  "right-frame" "left-frame";
  }
}

.left-frame, 
.right-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.left-frame {
  grid-area: left-frame;
  justify-content: center;
  align-items: center;
  
}

.paper-text {
  font-size: 24px;
  color: $text-primary;
}

.right-frame {
  grid-area: right-frame;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.2rem;
  > div {
    > span {
    font-size: clamp(1.8rem, 2.5vw + 1rem, 2.0rem);
  }
  > h2 {
    font-size: clamp(4.8rem, 6.5vw + 1rem, 6.4rem);
  }
  > img {
    width: 30.3rem;
    @media(max-width: 768px) {
      width: 24rem;
    }
  }
  }
}

.description {
  font-size: 20px;
}

.container-btn {
display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;
}

button {
  width: 145;
  height: 40;
  gap: 10px;
  border-radius: 100px;
  border-width: 1px;
  padding: min(1.2rem, 12%) min(2.4rem, 6%);
  background-color: $bg-light;
  color: $text-inverse;
  border: 1px solid $bg-inverse;
}

.flex-grow {
  flex: 1 1 0;
}

.paper-location {
  background: url('./../../../../public/assets/img/02-AboutMe/papers/1.png') center/cover no-repeat;
  @extend .paper-features;
  transform: rotate(-10deg);
  height:100px;
}

.paper-remote {
  background: url('./../../../../public/assets/img/02-AboutMe/papers/3.png') center/cover no-repeat;
  @extend .paper-features;
  transform: rotate(5deg);
}

.paper-relocate {
  background: url('./../../../../public/assets/img/02-AboutMe/papers/2.png') center/cover no-repeat;
  @extend .paper-features;
}