//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors

//#region font-sizes
.fs-h {
  font-size: clamp(48px, 6.2vw + 1rem, 64px);
 
  @media(max-width: 450px) {
    font-size: 32px;
  }
  // font-size: 6.4rem;
}

.fs-sh {
  font-size: clamp(18px, 3.5vw + 1rem, 20px);

  @media(max-width: 450px) {
    font-size: 16px;
  }
}

.fs-paper {
  font-size: clamp(18px, 2vw + 1rem, 24px);
  color: $text-primary;
 
   @media(max-width: 450px) {
    font-size: 16px;
  }
}

.fs-btn {
  font-size: 1.8rem;
}
//#endregion font-sizes

section {
  min-height: 100dvh;
  width: 100%;
  color: $text-inverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 2px solid red;
  max-width: 1920px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 10% min(160px, 5%);
  @media(max-width: 890px) {
    flex-direction: column-reverse;
    gap: 32px;
    .left-frame, 
    .right-frame {
      height: auto;
    }
  }
   @media(max-width: 450px) {
    padding: 10% 12px;
  }
}

.left-frame, 
.right-frame {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-frame {
 align-items: center;
 justify-content: center;
 min-width: 350px;
 @media(max-width: 890px) {
    width: 60%;
    height: 50%;
  }
  @media(max-width: 700px) {
    width: 100%;
    height: 50%;
  }
}

.right-frame {
  flex:1;
  gap: 4rem;
  > div { 
    > h2 {
      margin: 2.4rem 0;
    }
    > img {
      width: 30.3em;
      @media(max-width: 768px) {
        width: 24rem;
      }
      @media(max-width: 450px) {
        width: 20rem;
    }
    }
  }
  @media(max-width: 890px) {
    width: 100%;
    height: 50%;
    gap: 0.8rem;
    // justify-content: flex-end;
  }
  
}

.container-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.headline {
  position: relative;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  &::after {
    content: "";
    position: absolute;
    width: 28rem;
    height: 8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 50%;
    background: url("./../../../../public/assets/img/02-AboutMe/underline.png") center/contain no-repeat;
   @media(max-width: 450px) {
        width: 16rem;
        height: 6rem;
    }
}
}

button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 14.5rem;
  height: 4rem;
  gap: 1rem;
  border-radius: 100px;
  border-width: 0.1rem;
  padding: 0.66em 1.33em;
  background-color: $bg-light;
  color: $text-inverse;
  border: 1px solid $bg-inverse;
  box-shadow: 0 4px 4px rgba(0, 0, 0);
  transition: 
  scale 0.6s ease, 
  box-shadow 0.3s ease;
  &::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 10%;
    background-color: $accent-primary;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease; 
    z-index: -1;
  }
  &:hover {
    scale: 0.9;
    box-shadow: 6px 3px 6px 0 rgba(0, 0, 0) inset;
     &::after {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      opacity: 1;
      box-shadow: 6px 3px 6px 0 rgba(0, 0, 0) inset;
    }
  }
}

.paper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.paper-text {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  img {
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
    @media(max-width: 550px) {
     width: 25px;
     height: 25px;
    }
  }
}

.paper {
  object-fit: contain;
  width: 100%;
  @media(max-width: 800px) {
    width: 90%;
  }
}


.location {
  // background: url('./../../../../public/assets/img/02-AboutMe/papers/1.png') center/contain no-repeat;
  transform: rotate(-10deg);
  
}

.project {
  // background: url('./../../../../public/assets/img/02-AboutMe/papers/3.png') center/contain no-repeat;
  transform: rotate(5deg);
}

.relocate {
  // background: url('./../../../../public/assets/img/02-AboutMe/papers/2.png') center/contain no-repeat;
   
}
