<section alt="about-section">
  <div class="content">
    <div class="left-frame">
     
        <div class="paper location fs-paper fontBricolage400">
            <img src="assets/img/02-AboutMe/icons/location.png" alt="">
            {{'about-me.fact-one' | translate}}
            <!-- <span class="fontBricolage400 paper-text">{{'about-me.fact-one' | translate}}</span> -->
        </div>
        <div class="paper relocate fs-paper fontBricolage400">
            <img src="assets/img/02-AboutMe/icons/remote.png" alt="">
            {{'about-me.fact-three' | translate}}
            <!-- <span class="fontBricolage400 paper-text">{{'about-me.fact-three' | translate}}</span> -->
        </div>
        <div class="paper project fs-paper fontBricolage400">
            <img src="assets/img/02-AboutMe/icons/open-source.png" alt="">
            {{'about-me.fact-two' | translate}}
            <!-- <span class="fontBricolage400 paper-text">{{'about-me.fact-two' | translate}}</span> -->
        </div>
        
      <!-- <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-location">
            <img src="assets/img/02-AboutMe/icons/location.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-one' | translate}}</span>
        </div>
     </div> -->
     <!-- <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-relocate">
            <img src="assets/img/02-AboutMe/icons/open-source.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-two' | translate}}</span>
        </div>
       
     </div>
     <div class="paper-wrapper" data-aos="fade-right">
        <div class="paper-remote">
            <img src="assets/img/02-AboutMe/icons/remote.png" alt="">
            <span class="fontBricolage400 paper-text">{{'about-me.fact-three' | translate}}</span>
        </div>
     </div> -->
    </div>
    <div class="right-frame" data-aos="fade-left">
       <div>
         <span class="fontBricolage500 fs-sh">{{'about-me.title-small' | translate}}</span>
         <h2 class="fontBricolage700 fs-h">{{'about-me.title' | translate}}</h2>
         <img src="assets/img/02-AboutMe/underline.png" alt="">
       </div>
        <span class="fontBricolage400 fs-sh">{{'about-me.description' | translate}}</span>
       <a class="nav-link" href="#{{ 'header.contact' | translate }}">
        <div class="container-btn">
          <button class="fontBricolage500 fs-btn">{{'about-me.button' | translate}}</button>
        </div>
       </a>
        
    </div>
  </div>
</section>
