<section>
  <div class="content">
        <div class="main-frame">
                <div class="upper-subframe" data-aos="fade-right">
                    <div class="title-frame">
                        <span class="fontBricolage500 sub-heading">{{'skills.title-small' | translate}}</span>
                        <h2 class="fontBricolage700 title" #load [ngClass]="currentLangClass">
                            {{'skills.title' | translate}}
                        </h2> 
                    </div>
                    <div class="div-paper">
                        <span class="fontBricolage400">{{'skills.description' | translate}}</span>
                    </div>
            </div>
            <div class="lower-subframe" data-aos="fade-left">
                <div class="frame-icons">
                    @for(icon of iconList; track $index){
                    <div class="icon-and-text">

                        <picture>
                            <source media="(max-width: 650px)" srcset="assets\img\09-Icons\mobile\{{iconList[$index].img}}.png" />
                            <img class="icon"
                            #touchIcon 
                            [ngClass]="{ 'touch': isTouchDevice }"
                            [style.animationDelay]="isTouchDevice ? $index * 0.3 + 's' : null"
                            src="assets\img\09-Icons\{{iconList[$index].img}}.png" alt="{{iconList[$index].name}}">
                        </picture>

                        <p 
                        #touchIcon
                        [ngClass]="{ 'touch': isTouchDevice }"
                        [style.animationDelay]="isTouchDevice ? $index * 0.3 + 's' : null"
                        class="fontBricolage400 text">{{iconList[$index].name}}</p>
                    </div>
                    }
                    <div class="sticker fontBricolage400" [attr.sticker-text]="'skills.peel-sticker' | translate">
                        <p class="fontKalam400 peel-info">
                            <img class="arrow" src="assets/img/03-Skills/arrow-white.png" alt="{{'skills.image.arrow' | translate}}">
                            {{'skills.peel-sticker' | translate}}
                        </p>
                        <p class="fontKalam400 intro-text">{{'skills.sticker' | translate}}</p>
                        <div class="frame-icon-sticker">
                            <div class="icons-on-sticker">
                                <img class="icon-sticker" src="assets\img\09-Icons\21.png" alt="Figma {{'skills.image.icon' | translate}}">
                                <p class="fontKalam400">React</p>
                            </div>
                            <div class="icons-on-sticker">
                                <img class="icon-sticker" src="assets\img\09-Icons\22.png" alt="Vue.js {{'skills.image.icon' | translate}}">
                                <p class="fontKalam400">Vue.js</p>
                            </div>
                            <div class="icons-on-sticker">
                                <img class="icon-sticker" src="assets\img\09-Icons\23.png" alt="Django {{'skills.image.icon' | translate}}">
                                <p class="fontKalam400">Django</p>
                            </div>
                        </div>
                  </div>
                </div> 
            </div>
            
        </div>
        
   </div>

</section>



