<footer class="fontBricolage700">
  <div class="container-logo">
    <img
      class="logo-normal"
      src="assets/img/08-Logo/Logo 3 Statisch.png"
      alt="{{'footer.image.logo-normal' | translate}}"
    />
    <img
      class="logo-hover"
      src="assets/img/08-Logo/Logo 3 Hover.png"
      alt="{{'footer.image.logo-hover' | translate}}"
    />
    <span class="fs16">&#169; Dr. Michelle Puschkarow</span>
  </div>
 <div class="link-wrapper">
    <a class="footer-link" [routerLink]="'/legal-notice'">{{'footer.legal-notice' | translate}}</a>

    <a class="footer-link" href="https://github.com/Michelle-bit-web">
      GitHub
      <img src="assets/img/01-Hero/social-media/Github.png" alt="{{'footer.image.icon-github' | translate}}">
    </a>

    <a class="footer-link" href="https://www.linkedin.com/in/dr-michelle-puschkarow-605a7b17a/" target="_blank">
      LinkedIn
      <img src="assets/img/01-Hero/social-media/Linkedin.png" alt="{{'footer.image.icon-linked-in' | translate}}">
    </a>

    <a class="footer-link" href="mpuschkarow@web.de">
      {{'footer.email' | translate}}
      <img src="assets/img/01-Hero/social-media/mail.png" alt="{{'footer.image.icon-email' | translate}}">
    </a>
</div>
</footer>
