//#region colors
$text-primary: white;
$text-inverse: black;

$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;

$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;

// #endregion colors

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10%;
}

footer {
  border: 2px solid white;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.8rem;
  padding: 2.4rem 0;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  img {
    width: 4em;
  }
  &:hover > .logo-hover {
    opacity: 1;
  }
}

.logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}


.footer-link {
   cursor: pointer;
   position: relative;
   display: inline-block;
   z-index: 2;
   > img {
    position: absolute;
    top: -3rem;
    right: 1.2rem;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
   }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: $accent-primary;
    border-radius: 20px;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    opacity: 1;
    z-index: -1;
  }
  &:hover{
    &::after {
      width: 100%;
    }
    > img {
      transform: translateX(4rem) rotate(360deg);
      opacity: 1;
    }
  }
}

.fs16 {
  font-size: 1.6rem;
}
