<footer class="fontBricolage700">
  <div class="container-logo">
    <img
      class="logo-normal"
      src="assets/img/01-Hero/header-bar/header-frame/Logo.png"
      alt="logo image"
    />
    <img
      class="logo-hover"
      src="assets/img/01-Hero/header-bar/header-frame/Logo-Hover.png"
      alt="logo image"
    />
  </div>
 <div class="link-wrapper">
    <a class="footer-link" href="#about"> Link</a>
    <a class="footer-link" href="#skills">Link</a>
    <a class="footer-link" >Link</a>
    <a class="footer-link" >Link</a>
</div>
</footer>
