<footer class="fontBricolage700">
  <div class="container-logo">
    <img
      class="logo-normal"
      src="assets/img/01-Hero/header-bar/header-frame/Logo.png"
      alt="logo image"
    />
    <img
      class="logo-hover"
      src="assets/img/01-Hero/header-bar/header-frame/Logo-Hover.png"
      alt="logo image"
    />
    <span>&#169; Dr. Michelle Puschkarow</span>
  </div>
 <div class="link-wrapper">
    <a class="footer-link" href="#legal"> Legal Notice</a>
    <a class="footer-link" href="#github">GitHub</a>
    <a class="footer-link" href="#linkedin">LinkedIn</a>
    <a class="footer-link" href="#email">EMail</a>
</div>
</footer>
