* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scrollbar-color: black white;
  scrollbar-width: thin;
  cursor: none;
}


/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("./../public/assets/fonts/bricolage-grotesque-v8-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("./../public/assets/fonts/bricolage-grotesque-v8-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("./../public/assets/fonts/bricolage-grotesque-v8-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("./../public/assets/fonts/bricolage-grotesque-v8-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bricolage-grotesque-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 800;
  src: url("./../public/assets/fonts/bricolage-grotesque-v8-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.fontBricolage400 {
  font-family: "Bricolage Grotesque";
  font-weight: 400;
}

.fontBricolage500 {
  font-family: "Bricolage Grotesque";
  font-weight: 500;
}

.fontBricolage600 {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
}

.fontBricolage700 {
  font-family: "Bricolage Grotesque";
  font-weight: 700;
}

.fontBricolage800 {
  font-family: "Bricolage Grotesque";
  font-weight: 800;
}

a {
  text-decoration: none;
  color: white;
}
