<section alt="privacy-policy-section fs20">
  <div class="content">

    

  <div class="imprint-overlay  fontBricolage400 fs20">
    <div class="button-wrapper">
        <img class="arrow" src="assets/img/04-Projects/arrow.png" alt="">
        <button [routerLink]="''" class="simple fontBricolage500">{{'legal-notice.button-back' | translate}}</button>
    </div>
    <h1 class="fontBricolage500 fs32">{{'legal-notice.title' | translate}}</h1>
    <p>{{'legal-notice.subtitle' | translate}}</p><br>
    <p>
      {{'legal-notice.name' | translate}} Dr. Michelle Puschkarow<br />
      {{'legal-notice.address' | translate}} Waldingstraße 6<br />
      {{'legal-notice.city' | translate}} 22391 Hamburg<br />
    </p>
    <p><br>
    <p>
      <strong>{{'legal-notice.contact.title' | translate}}</strong><br />
      {{'legal-notice.contact.phone' | translate}} 0157-36616303<br />
      {{'legal-notice.contact.email' | translate}} <a href="mpuschkarow&#64;web.de">mpuschkarow&#64;web.de</a><br />
    </p><br>
    <p>
      <strong class="fs24">{{'legal-notice.disclaimer' | translate}}</strong><br /><br />

      <strong class="fs24">{{'legal-notice.liabilityContentTitle' | translate}}</strong><br /><br />
      {{'legal-notice.liabilityContent' | translate}}<br /><br />

      <strong class="fs24">{{'legal-notice.liabilityLinksTitle' | translate}}</strong><br /><br />
      {{'legal-notice.liabilityLinks' | translate}}<br /><br />

      <strong class="fs24">{{'legal-notice.privacy' | translate}}</strong><br /><br />
      
      {{'legal-notice.privacyNote' | translate}} <a class="reset-consent-link" [routerLink]="'/privacy-policy'">{{'legal-notice.privacyLinkText' | translate}}</a>.  
    </p>
    <br />
     <strong class="fs24">{{'legal-notice.credits' | translate}}</strong><br /><br />
      {{'legal-notice.thanks' | translate}}
      <a href="">{{'legal-notice.creditPerson' | translate}}</a><br /><br />

    {{'legal-notice.generatedWith' | translate}}
    <a href="https://impressum-generator.de" rel="dofollow"
      class="links">{{'legal-notice.generator' | translate}}</a
    >, {{'legal-notice.toolPurpose' | translate}}
    <a
      href="https://impressum-generator.de/datenschutz-generator"
      rel="dofollow"
      class="links">{{'legal-notice.privacyGenerator' | translate}}</a
    >. {{'legal-notice.templateSource' | translate}}
    <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow"
      class="links">{{'legal-notice.lawFirm' | translate}}</a
    >.
  </div>
  <br>
    <app-footer class="footer"></app-footer>
  </div>
  
</section>