//#region colors
$text-primary: white;
$text-inverse: black;
$accent-primary: #7e4ae7;
$accent-secondary:#bae011;
$accent-tertiary: #e08c05;
$bg-primary: #7e4ae7;
$bg-secondary: #e08c05;
$bg-light: white;
$bg-inverse: black;
// #endregion colors

//#region font-sizes
.fs32 {
  font-size: 3.2rem;
}

.fs24 {
  font-size: 2.4rem;
}

.fs20 {
  font-size: 2.0rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs16 {
  font-size: 1.6rem;
}

h1 {
  font-size: clamp(4.8rem, 6.5vw + 1rem, 6.4rem);
  margin: 3.6rem 0;
}
// #endregion font-sizes

section {
  min-height: 100dvh;
  width: 100%;
  color: $text-primary;
  display: flex;
  justify-content: center;
  background: url("./../../../../public/assets/img/06-Contact/bg.png") top/cover no-repeat;
}

.content {
  background-color: rgba(0, 0, 0, 0.658);
  max-width: 1920px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: min(5rem, 3.4%);
  padding: 0 min(6.4rem, 4.4%);
}

.imprint-overlay.mobile {
  margin-top: 80px;
}

button {
  cursor: pointer;
  background: transparent;
  color: $text-primary;
  border: unset;
  &:hover {
    color: $accent-secondary;
  }
  @media(max-width: 450px){
    font-size: 1.6rem;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  > .arrow {
    width: 5rem;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

a {
  color: $accent-primary;
  &:hover {
    color: $accent-secondary;
  }
}